@import url(fonts.css);
@import url(constants.css);
@import url(default.css);
@import url(header.css);
@import url(footer.css);

.create-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.create-article__header {
  display: flex;
  justify-content: flex-end;
}

.create-article__form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--font-color--addtional-footer);
}

.create-artilce__form-item {
  width: clamp(230px, 27vw, 520px);
  background-color: transparent;
  border: 1px solid var(--border-color--form);
  border-radius: 5px;
  padding: 18px;
}

.create-artilce__form-item::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--font-color--placeholder-form);
}

.create-article__submit-button {
  width: 175px;
  height: 50px;
  border-radius: 5px;
  border-color: transparent;
  background-color: var(--background-color--subimt-button-aticle);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--background-color--subimt-button-aticle--pale);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.create-article__submit-button:hover {
  background-color: var(--background-color--subimt-button-aticle--pale);
  color: var(--background-color--subimt-button-aticle);
}

.article__content {
  border-radius: 5px;
}

.article-main {
  width: 92%;
}

.article_small {
  width: 370px;
}

.article__date {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.01em;
}

.article__information {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: var(--font-color--addtional);
}

.frontend-article {
  background-color: var(--background-color--frontend);
}

.tennis-article {
  background-color: var(--background-color--tennis);
}

.article__foto {
  border-radius: 5px;
  background-image: url(../assets/article-foto.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
}

.article__foto.foto-main {
  padding: 5px;
  height: 44vw;
}

.article__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  row-gap: 20px;
}

.information_close {
  display: none;
}

.article__article-header.article_closed {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: var(-font-color--general);
}

.article__date.date_closed {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(-font-color--general);
}

.articles {
  margin-top: 30px;
}

.articles__container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

@media (max-width: 1010px) {
  .article {
    width: clamp(370px, 50vw, 560px);
  }
}

@media (max-width: 636px) {
  .wrapper {
    padding: 0 5px;
  }
  .create-article {
    align-items: center;
  }
  .header__content {
    justify-content: space-around;
  }
  .articles__header,
  .articles__title,
  .midfull-thought {
    text-align: center;
  }
}

@media (max-width: 468px) {
  .contacts__content {
    flex-direction: column;
    align-items: center;
  }
}

.create-artilce__form-item:focus {
  border-color: var(--background-color--subimt-button-aticle);
  box-shadow: 0 0 5px rgb(219, 94, 49, 0.5);
  outline: none;
}

.articles__main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}

.articles__image {
  width: 216px;
  height: 213px;
  background-color: transparent;
  background-image: url(../assets/something.png);
}

.midfull-thought {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: var(--font-color--addtional);
  max-width: 1000px;
}
