.close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  top: 20px;
  right: 20px;
  transition:
    box-shadow 0.3s ease-in-out,
    transform 0.3s ease-in;
}

.close-button::after,
.close-button::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 10px);
}

.close-button::after {
  transform: rotate(45deg);
}

.close-button::before {
  transform: rotate(-45deg);
}

.close-button:hover {
  cursor: pointer;
  box-shadow:
    2px 2px 6px 4px rgba(0, 0, 0, 0.45),
    -2px -2px 6px 4px rgba(0, 0, 0, 0.45);
  transform: rotate(45deg);
}
