:root {
  --font-color--general: #323747;
  --font-color--addtional: #68686a;
  --font-color--form: #bdc1ca;
  --font-color--link: #61c15c;
  --font-color--article-type: #db5e31;
  --font-color--icon: #1a1b20;

  --background-color--pale-first: #f4fbf4;
}
