@import url(fonts.css);
@import url(constants.css);
@import url(default.css);
@import url(header.css);

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.about__header {
  color: var(--font-color--general);
}

.about__information {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  justify-content: center;
}

.about__description {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.description__link {
  display: inline-block;
}

.description__link-text,
.link-to-blog-page {
  display: flex;
  align-items: center;
  width: fit-content;
  color: var(--font-color--link);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.01em;
  padding: 5px;
  border-radius: 5px;
  position: relative;
}

.description__arrow {
  width: 8.5px;
  height: 16px;
  position: relative;
  display: inline-block;
  overflow: visible;
}

.description__arrow::after {
  position: absolute;
  content: "";
  width: 200%;
  height: 200%;
  background-image: url(/blog/src/assets/about-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: -50%;
}

.description__link-text:hover,
.link-to-blog-page {
  background-color: var(--background-color--pale-first);
  transition: all 0.5s ease-in-out;
}

.information {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: var(--font-color--addtional);
}

.about__information {
  padding-left: 5px;
}

.about__image {
  height: clamp(300px, 93vh, 647px);
  width: clamp(350px, 34%, 479px);
  min-width: 350px;
  border-radius: 0px 0px 42% 42%;
  display: inline-block;
  background-image: url(/blog/src/assets/about-foto.png);
  background-repeat: no-repeat;
  background-position: center;
}

.last-articles {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.last-articles__date {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.01em;
}

.last-articles__content {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.my-career__current-work,
.my-career__work-expirience,
.my-career__education,
.my-career__courses,
.my-career__skills,
.my-career__achievements {
  position: relative;
}

.my-career__current-work::after,
.my-career__work-expirience::after,
.my-career__education::after,
.my-career__courses::after,
.my-career__skills::after,
.my-career__achievements::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--underline-color);
}

.footer {
  background-color: var(--background-color--footer);
}

.article {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  border-radius: 20px;
}

.article__text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 16px;
  padding: 40px 0px 0px 40px;
}

.article__image-container {
  display: flex;
  justify-content: center;
  width: 155%;
  padding-right: 5px;
}

.image-container__image {
  width: 100%;
  border-radius: 5px;
}

.frontend-article {
  background-color: var(--background-color--frontend);
}

.tennis-article {
  background-color: var(--background-color--tennis);
}
