<header class="header">
  <div class="wrapper header__content">
    <div class="header__icon icon">
      <span class="icon__name">Name-folio</span>
    </div>
    <nav class="navigation">
      <ul class="navigation__list" [class.navigation__list_active]="isActiveBurger">
        <li class="navigation__element">
          <a href="#" class="navigation__link current-link">Главная страница</a>
        </li>
        <li class="navigation__element">
          <a href="#" class="navigation__link">Блог</a>
        </li>
        <li class="navigation__element">
          <a href="#footer" class="navigation__link">Контакт</a>
        </li>
      </ul>
    </nav>
    <div class="burger-menu" (click)="openBurger()"></div>
  </div>
</header>
