.comments__content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.comment {
  display: grid;
  grid-template-columns: 120px 1fr 100px;
  align-items: center;
  border: 1px solid rgb(73, 73, 73);
  border-radius: 20px;
  padding: 5px;
  background-color: #fcfdf1;
}

.comment__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.comment__buttons {
  width: 20px;
  height: 20px;
  padding: 0px;
  border: 1px solid black;
  transition: background-color 0.3s ease-in-out;
}

.comment-fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: clamp(300px, 30%, 500px);
}

.mat-mdc-form-field-error,
.mat-label_invalid {
  color: #ba1a1a;
  .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--invalid
    .mdc-line-ripple::before {
    border-bottom-color: red;
  }
}

@media (hover: hover) {
  .comment__buttons {
    &:hover {
      cursor: pointer;
      background-color: grey;
    }
  }
}
