<section class="create-article wrapper">
  @if (toggleForm()) {
    <div class="">
      <h2 class="create-article__header">Создать статью</h2>
      <form action="#" method="get" class="create-article__form">
        <fieldset class="create-article__fieldset">
          <input
            name="Header"
            type="text"
            class="create-article__input-header create-artilce__form-item"
            placeholder="Заголовок"
          />
          <textarea
            rows="10"
            name="text"
            class="create-article__input-information create-artilce__form-item"
            placeholder="Текст статьи"
          ></textarea>
          <ul class="custom-select" tabindex="0">
            <span class="custom-select__choice">Tennis </span>
            <li class="custom-select__item custom-select__tennis" data-choice="tennis">Tennis</li>
            <li
              class="custom-select__item custom-select__frontend custom-select__item_last"
              data-choice="frontend"
            >
              Frontend
            </li>
            <div class="custom-select__arrow"></div>
          </ul>

          <select name="type" id="" class="create-article__input-type create-artilce__form-item">
            <option value="tennis" default>Tennis</option>
            <option value="frontend">Frontend</option>
          </select>
          <div class="create-article__buttons">
            <button class="create-article__button create-article__submit-button">Добавить</button>
            <button class="create-article__button create-article__refresh-button" type="reset">
              Отменить
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  }
  <div class="create-article__curtain"></div>
</section>
