<section class="create-article wrapper">
  @if (isFormOpen()) {
    <div class="">
      <h2 class="create-article__header">
        {{ formTitle() }}
      </h2>
      <form
        method="get"
        class="create-article__form"
        (submit)="onSubmit($event)"
        (reset)="resetForm()"
        [formGroup]="form"
      >
        <fieldset class="create-article__fieldset">
          @let isValidTitle = hasError('title');
          @let isValidDescription = hasError('description');
          <input
            name="Header"
            type="text"
            class="create-article__input-header create-artilce__form-item"
            placeholder="Заголовок"
            formControlName="title"
          />
          <span class="create-article__error-span" [class.invalid]="isValidTitle"
            >Ошибка:
            @if (isValidTitle) {
              @for (errors of getControlErrors('title'); track $index) {
                {{ errors }}
              }
            }
          </span>
          <textarea
            rows="10"
            name="text"
            class="create-article__input-information create-artilce__form-item"
            placeholder="Текст статьи"
            formControlName="description"
          ></textarea>
          <span class="create-article__error-span" [class.invalid]="isValidDescription"
            >Ошибка:
            @if (isValidDescription) {
              @for (errors of getControlErrors('description'); track $index) {
                {{ errors }}
              }
            }
          </span>
          <input type="file" (change)="onSelectFile($event)" />
          <div>
            <input
              #searchInput
              type="text"
              autocomplete="off"
              (keydown)="onInputCategory($event)"
              class="autocomplete__input"
              formControlName="category"
              (blur)="autoCompleteClose()"
              (focus)="autoCompleteOpen()"
            />
            @if (autoCompelteIsOpen()) {
              <div class="autocomplete__block">
                @for (category of autoCompleteSignal(); track $index) {
                  <span
                    class="autocomplete__category-span"
                    tabindex="-1"
                    (click)="chooseCategory(category)"
                    [class.emit-hover]="$index === currentChoosedCategoryNumber()"
                    >{{ category }}</span
                  >
                }
              </div>
            }
          </div>
          <div class="create-article__buttons">
            <button
              class="create-article__button create-article__submit-button"
              [disabled]="form.invalid"
            >
              {{ formButton() }}
            </button>
            <button class="create-article__button create-article__refresh-button" type="reset">
              Отменить
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  }
  <div class="create-article__curtain"></div>
</section>
