<section class="create-article wrapper">
  @if (toggleForm()) {
    <div class="">
      <h2 class="create-article__header">
        @if (flagEdit) {
          Редактировать статью
        } @else {
          Создать статью
        }
      </h2>
      <form
        method="get"
        class="create-article__form"
        (submit)="onSubmit($event)"
        (reset)="resetForm()"
        [formGroup]="form"
      >
        <fieldset class="create-article__fieldset">
          <input
            name="Header"
            type="text"
            class="create-article__input-header create-artilce__form-item"
            placeholder="Заголовок"
            formControlName="title"
          />
          <span
            class="create-article__error-span"
            [class.invalid]="form.get('title')?.invalid && form.get('title')?.touched"
            >Ошибка:
            @if (form.get('title')?.errors) {
              @let currentError = form.get('title')?.errors;
              @if (currentError!['required']) {
                поле обязательно для заполнения
              } @else {
                минимальная длина заголовка должная быть 25 симоволов
              }
            }
          </span>
          <textarea
            rows="10"
            name="text"
            class="create-article__input-information create-artilce__form-item"
            placeholder="Текст статьи"
            formControlName="description"
          ></textarea>
          <span
            class="create-article__error-span"
            [class.invalid]="form.get('description')?.invalid && form.get('description')?.touched"
            >Ошибка: поле обязательно для заполнения</span
          >
          <ul class="custom-select" tabindex="0" (click)="openCustomeSelect($event)">
            <span class="custom-select__choice">{{ spanSelectValue }} </span>
            <li
              class="custom-select__item custom-select__tennis"
              data-choice="tennis"
              [class.rotate]="isSelectOpen"
              [style.transform]="transformString(0)"
              (click)="tennisChoice($event)"
            >
              Tennis
            </li>
            <li
              class="custom-select__item custom-select__frontend custom-select__item_last"
              data-choice="frontend"
              [class.rotate]="isSelectOpen"
              [style.transform]="transformString(1)"
              (click)="frontendChoice($event)"
            >
              Frontend
            </li>
            <div class="custom-select__arrow" [class.rotate]="isSelectOpen"></div>
          </ul>

          <select
            name="type"
            id=""
            class="create-article__input-type create-artilce__form-item"
            formControlName="category"
          >
            <option value="tennis" [defaultSelected]="checkDefault('Tennis')">Tennis</option>
            <option value="frontend" [defaultSelected]="checkDefault('Frontend')">Frontend</option>
          </select>
          <div class="create-article__buttons">
            <button
              class="create-article__button create-article__submit-button"
              [disabled]="form.invalid"
            >
              @if (flagEdit) {
                Редактировать
              } @else {
                Добавить
              }
            </button>
            <button class="create-article__button create-article__refresh-button" type="reset">
              Отменить
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  }
  <div class="create-article__curtain"></div>
</section>
