@use 'path';

.articles {
  margin-top: 30px;
}

.articles__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;

  @media (max-width: 1330px) {
    justify-content: space-around;
  }
}

@media (max-width: 636px) {
  .articles__header,
  .articles__title {
    text-align: center;
  }
}

.midfull-thought {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: var(--font-color--addtional);
  max-width: 900px;
  @media (max-width: 1330px) {
    max-width: none;
  }
  @media (max-width: 636px) {
    text-align: center;
  }
}

.articles__image {
  width: 216px;
  height: 213px;
  background-color: transparent;
  background-image: url('#{path.$assets-path}/something.png');
}
