@use 'path';

.articles__container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  &:not(:has(.article)) {
    justify-content: center;
    &::after {
      content: 'Нет статей';
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: var(--font-color--addtional);
    }
  }
}

.article {
  position: relative;
  width: 370px;
  @media (max-width: 1010px) {
    width: 100%;
  }
  @media (max-width: 636px) {
    width: clamp(370px, 50vw, 560px);
  }
  &:first-child {
    width: 100%;
    & .article__foto {
      padding: 5px;
      height: 35vw;
      max-height: 600px;
    }
  }
  &:not(:first-child) {
    & .article__information {
      display: none;
    }
    & .article__date {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: var(-font-color--general);
    }
    & .article__article-header {
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.article__content {
  border-radius: 5px;
}

.article__foto {
  border-radius: 5px;
  background-image: url('#{path.$assets-path}/article-foto.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  @media (max-width: 1010px) {
    height: 44vw;
  }
}

.article__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  row-gap: 20px;
}

.article__date {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.01em;
}

.article__information {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: var(--font-color--addtional);
}

.tennis-article {
  background-color: var(--background-color--tennis);
}

.frontend-article {
  background-color: var(--background-color--frontend);
}
