app-career {
  grid-area: aside;
}

app-hobby {
  grid-area: hobby;
}

.form {
  grid-area: form;
}

.last-articles {
  grid-area: articles;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  align-items: center;
}

app-works {
  grid-area: my-works;
}
.main__information {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 340px repeat(4, 1fr);
  grid-template-areas:
    'aside hobby hobby hobby hobby'
    'articles articles articles articles articles'
    'my-works my-works my-works my-works my-works'
    'form form form form form';
  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'aside'
      'hobby'
      'articles'
      'my-works'
      'form';
  }
}

.link-to-blog-page {
  display: flex;
  align-items: center;
  width: fit-content;
  color: var(--font-color--link);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.01em;
  padding: 11px 30px;
  border: 1px solid var(--background-color--submit-button);
  border-radius: 5px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

@media (hover: hover) {
  .link-to-blog-page:hover {
    color: var(--background-color--submit-button--pale);
    background-color: var(--font-color--link);
  }
}

@media (hover: none) {
  .link-to-blog-page:active {
    color: var(--background-color--submit-button--pale);
    background-color: var(--font-color--link);
  }
}
